Checks: >
  clang-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  google-*,
  -google-build-explicit-make-pair,
  -google-build-using-namespace,
  -google-runtime-references,
  -google-runtime-int,
  -google-readability-todo,
  -google-build-exceptions

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: google

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberSuffix
    value:           _